

<div class="container">
  <h1>Question</h1>

  <form method="get" action="/answer">
  <div class="input-group mb-3">
    <input type="text" class="form-control" name="question" placeholder="Ask you question" aria-label="Recipient's username" aria-describedby="button-addon2">
    <button class="btn btn-primary" type="submit" id="button-addon2" value="Ask!">Ask!</button>
  </div>
  </form>
</div>
